
    {% extends 'layouts/base.html' %}

    {% block content %}
    <h1>About</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, deserunt totam voluptas nostrum ipsam voluptatibus? Quam sed quos est alias ipsa cumque architecto ullam molestias? Asperiores voluptatibus velit, odio nisi autem magnam eos iusto voluptate vel provident quae? Laudantium, rerum. Atque obcaecati culpa, sunt fugit veniam sed eum fugiat tempora ipsum facere cum reiciendis soluta repudiandae repellendus asperiores nam laudantium laboriosam eveniet quo voluptatibus natus ratione harum ea necessitatibus. Nostrum quibusdam suscipit libero! Facere commodi fugit ullam harum porro eveniet provident, libero nisi laboriosam quidem eos tenetur aliquid, pariatur voluptate consequatur veniam. Fuga consectetur, voluptate omnis itaque quos beatae atque.</p>

    <h3>Created by {{ username }}</h3>
    {% endblock %}
    